@import url('https://fonts.googleapis.com/css2?family=Monomaniac+One&family=Sofia+Sans:wght@100;400;700&display=swap');

/* Smooth scroll behavior */
:root {
  scroll-behavior: smooth;
}

/*--------------------------------------------------------------
# General
--------------------------------------------------------------*/
body {

}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}


/*--------------------------------------------------------------
# Sections & Section Header
--------------------------------------------------------------*/
section {
  overflow: hidden;
  padding: 80px 0;
}

.section-bg {
  background-color: #ffffff;
}
.section-header {
  text-align: center;
  padding-bottom: 30px;
}

.section-header h2 {
  font-size: 36px;
  letter-spacing: 1px;
  font-weight: bold;
  margin: 0;
  padding: 0;
  text-transform: uppercase;
  font-family: Arial, Helvetica, sans-serif
}

.section-header p {
  margin: 0;
  padding-top: 30px;
  padding-bottom: 30px;
  font-size: 16px;
  text-align: center;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
}

/*--------------------------------------------------------------
# Disable aos animation delay on mobile devices
--------------------------------------------------------------*/
@media screen and (max-width: 768px) {
  [data-aos-delay] {
    transition-delay: 0ms !important;
  }
}

section {
  scroll-margin-top: 90px;
}



/*--------------------------------------------------------------
# Home Section
--------------------------------------------------------------*/
.home {
  width: 100%;
  background-size: cover;
  position: relative;
  min-height: 60vh;
  padding: 160px 0 60px 0;
}

.home h2 {
  font-weight: 700;
  margin-bottom: 20px;
}


.home .btn-book-a-table {
  font-weight: 500;
  font-size: 14px;
  letter-spacing: 1px;
  display: inline-block;
  padding: 12px 36px;
  border-radius: 5px;
  transition: 0.5s;
  color: #ffffff;
  background: #059652;
}

.home .btn-book-a-table:hover {
  background: #E2931D;
}

/*--------------------------------------------------------------
# About Us Section
--------------------------------------------------------------*/
.about-us{
  background: #3B546E;
}
.about-us .icon-box {
  text-align: center;
  background: #ffffff;
  padding: 40px 30px;
  width: 100%;
  height: 100%;
  border: 1px solid rgba(55, 55, 63, 0.1);
  transition: 0.3s;
}

.about-us .icon-box i {
  margin-bottom: 30px;
  font-size: 32px;
  background: rgba(90, 70, 70, 0.1);
  border-radius: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 64px;
  height: 64px;
}

.about-us .icon-box h4 {
  font-size: 20px;
  font-weight: 400;
  margin: 0 0 30px 0;
}

.about-us .icon-box p {
  text-align:center;
}

@media (min-width: 1200px) {
  .about-us .icon-box:hover {
    transform: scale(1.1);
  }
}


section {
  overflow: hidden;
  padding: 80px 0;
}

.program  {!important;
    font-family: 'Monomaniac One';
    font-size: 48px;
    color: #000000;
}

.detail {!important;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    font-weight: bold;
    color: black;
}

.program-class {!important;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 48px;
    font-weight: bold;
    color: #000000;
}

.detail-class {!important;
    text-align: justify;
    font-weight: lighter;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    color: #000000;
}
